langchain
langchain_google_genai
langchain-community
langchain-chroma
docling
yt-dlp
faster-whisper
streamlit
python-dotenv
youtube-transcript-api
sentence-transformers
langgraph
pandas
psutil
torch
ragas
datasets
google-genai